<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>Home</title>
</head>

<body>
    <header>Hi, <th:block th:text="${name}"></th:block>
    </header>
    <nav><a href="/logout">Logout</a></nav>
    <main>
        <section>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum accusamus deserunt nulla quis hic fugiat ut
            iusto fugit corporis, repellat maiores fuga eligendi iste alias tempore. Quia culpa dolorum architecto.
        </section>
        <section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatum, adipisci minus suscipit
            ratione at fugit voluptatibus harum atque asperiores repudiandae nesciunt, facere ipsum nihil, quisquam
            sequi officia eius corrupti?</section>
    </main>
    <footer>bye</footer>
</body>

</html>